App/Middleware/MiddlewareCSharp/MiddlewareApp/Connected Services/ServiceReference1/ReceptionServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.ejb_jee7.reception.dev.com/" targetNamespace="http://facade.ejb_jee7.reception.dev.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receptionOperation" type="tns:receptionOperation" />
  <xs:element name="receptionOperationResponse" type="tns:receptionOperationResponse" />
  <xs:complexType name="receptionOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="tns:messageSOAPModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageSOAPModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="appVersion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data" type="xs:anyType" />
      <xs:element minOccurs="0" name="info" type="xs:string" />
      <xs:element minOccurs="0" name="operationName" type="xs:string" />
      <xs:element minOccurs="0" name="operationVersion" type="xs:string" />
      <xs:element minOccurs="0" name="statusOp" type="xs:boolean" />
      <xs:element minOccurs="0" name="tokenApp" type="xs:string" />
      <xs:element minOccurs="0" name="tokenUser" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receptionOperationResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>