App/Middleware/MiddlewareCSharp/MiddlewareApp/Connected Services/ServiceReference1/ReceptionServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.ejb_jee7.reception.dev.com/" targetNamespace="http://facade.ejb_jee7.reception.dev.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createReceptionOperation" type="tns:createReceptionOperation" />
  <xs:element name="createReceptionOperationResponse" type="tns:createReceptionOperationResponse" />
  <xs:complexType name="createReceptionOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="decipheredText" type="xs:string" />
      <xs:element minOccurs="0" name="usedKey" type="xs:string" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createReceptionOperationResponse">
    <xs:sequence>
      <xs:element name="acceptedReception" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>