App/Client/ClientCSharp/ProjetDevA4/Connected Services/ServiceReference2/Uncipher1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiddlewareCSharp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiddlewareCSharp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52707/Uncipher.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="OperationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusOp" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenUSer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>